.admin-panel {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Sidebar Styles */
.sidebarA {
  width: 250px;
  background-color: #34495e; /* Dark blue-gray for a modern look */
  color: #ecf0f1; /* Light text color for better contrast */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebarA ul {
  list-style-type: none;
  padding: 0;
}

.sidebarA ul li {
  margin: 15px 0;
}

.sidebarA ul li a {
  color: #ecf0f1; /* Light text color for links */
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 4px;
}

.sidebarA ul li a:hover {
  background-color: #435891; /* Teal color for hover effect */
  color: #ffffff; /* White text color on hover */
}

/* Content Styles */
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f4; /* Light gray background for the content area */
}

.content h2 {
  margin-top: 0;
  color: #2c3e50; /* Darker text color for headings */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #3498db; /* Blue background for table headers */
  color: #ffffff; /* White text color for table headers */
}

tbody tr:nth-child(even) {
  background-color: #ecf0f1; /* Light gray background for even rows */
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* White background for odd rows */
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  margin: 5px 0;
  font-size: 16px;
  color: #2c3e50; /* Darker text color for list items */
}
